include         LICENSE
include         README.md
include         MANIFEST.in
include         version.txt
include         .keep
graft           src/bin
graft           debian
graft           conf
exclude         conf/*.json
exclude         conf/mibs/*
global-exclude  */tests/*
